In [33]:
import pandas as pd
%matplotlib inline

In [2]:
df = pd.read_csv('casestudy_data.csv')

# Check data

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 513863 entries, 0 to 513862
Data columns (total 20 columns):
visit_id                                513863 non-null int64
date_time                               513863 non-null object
experience                              513863 non-null object
success                                 513863 non-null int64
zipcode                                 513096 non-null object
pro                                     513863 non-null int64
repeat_visit                            513863 non-null int64
days_since_last_visit                   406028 non-null object
new_movers                              513863 non-null int64
year_home_built                         501901 non-null float64
home_market_value                       501901 non-null float64
length_of_residence                     501901 non-null float64
net_worth                               501901 non-null float64
income                                  501901 non-null float64
mkt_organic_product_purchasers_value    501901 non-null float64
mkt_trend_env_focused_hh_value          501901 non-null float64
high_end_shoppers_value                 501901 non-null float64
do_it_yourselfer_value                  501901 non-null float64
montrd_home_security_sys_own_value      501901 non-null float64
mkt_green_product_purchasers_value      501901 non-null float64
dtypes: float64(11), int64(5), object(4)
memory usage: 78.4+ MB

In [4]:
df.describe(include='all')

,visit_id,date_time,experience,success,zipcode,pro,repeat_visit,days_since_last_visit,new_movers,year_home_built,home_market_value,length_of_residence,net_worth,income,mkt_organic_product_purchasers_value,mkt_trend_env_focused_hh_value,high_end_shoppers_value,do_it_yourselfer_value,montrd_home_security_sys_own_value,mkt_green_product_purchasers_value
count,513863.000000,513863,513863,513863.000000,513096,513863.000000,513863.000000,406028,513863.000000,501901.000000,501901.000000,501901.000000,501901.000000,501901.000000,501901.000000,501901.000000,501901.000000,501901.000000,501901.000000,501901.000000
unique,NaN,43182,2,NaN,15038,NaN,NaN,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,6/24/19 13:23,version2,NaN,30080,NaN,NaN,less than 1 day,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,51,257284,NaN,17902,NaN,NaN,230358,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,256931.000000,NaN,NaN,0.049723,NaN,0.179215,0.810502,NaN,0.324478,1980.672015,343.195915,11.004557,288908.644334,100913.018703,38.220549,31.381515,31.239370,46.192526,30.515315,44.994419
std,148339.615026,NaN,NaN,0.217373,NaN,0.383533,0.391904,NaN,0.468180,13.098487,150.487620,2.963374,165392.368511,28175.240365,13.052736,13.952084,10.195232,12.655106,8.972722,10.438021
min,0.000000,NaN,NaN,0.000000,NaN,0.000000,0.000000,NaN,0.000000,0.000000,4.000000,0.250000,12500.000000,10000.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,128465.500000,NaN,NaN,0.000000,NaN,0.000000,1.000000,NaN,0.000000,1973.000000,239.000000,8.000000,150000.000000,75000.000000,29.000000,21.000000,25.000000,38.000000,25.000000,38.000000
50%,256931.000000,NaN,NaN,0.000000,NaN,0.000000,1.000000,NaN,0.000000,1984.000000,310.000000,13.000000,250000.000000,100000.000000,36.000000,30.000000,30.000000,47.000000,29.000000,46.000000
75%,385396.500000,NaN,NaN,0.000000,NaN,0.000000,1.000000,NaN,1.000000,1989.000000,413.000000,13.000000,250000.000000,125000.000000,46.000000,40.000000,37.000000,55.000000,35.000000,51.000000
max,513862.000000,NaN,NaN,1.000000,NaN,1.000000,1.000000,NaN,1.000000,2017.000000,2628.000000,23.000000,1000000.000000,250000.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000

### Check missing value

In [25]:
df.apply(lambda x: x.isna().sum(), axis=0)

visit_id                                     0
date_time                                    0
experience                                   0
success                                      0
zipcode                                    767
pro                                          0
repeat_visit                                 0
days_since_last_visit                   107835
new_movers                                   0
year_home_built                          11962
home_market_value                        11962
length_of_residence                      11962
net_worth                                11962
income                                   11962
mkt_organic_product_purchasers_value     11962
mkt_trend_env_focused_hh_value           11962
high_end_shoppers_value                  11962
do_it_yourselfer_value                   11962
montrd_home_security_sys_own_value       11962
mkt_green_product_purchasers_value       11962
dtype: int64

Several features related to the house seems to be missing at the same time, check it on the overall dataset.

In [24]:
df.loc[~df.year_home_built.isna(), :].apply(lambda x: x.isna()).sum(axis=0)

visit_id                                     0
date_time                                    0
experience                                   0
success                                      0
zipcode                                      0
pro                                          0
repeat_visit                                 0
days_since_last_visit                   105699
new_movers                                   0
year_home_built                              0
home_market_value                            0
length_of_residence                          0
net_worth                                    0
income                                       0
mkt_organic_product_purchasers_value         0
mkt_trend_env_focused_hh_value               0
high_end_shoppers_value                      0
do_it_yourselfer_value                       0
montrd_home_security_sys_own_value           0
mkt_green_product_purchasers_value           0
dtype: int64

In [27]:
df = df.loc[~df.year_home_built.isna(), :]

days_since_last_visit seems to have a lot of missing values (107k). Checking

In [28]:
df.days_since_last_visit.value_counts()

less than 1 day      224671
less than 7 days      94780
first visit           54268
more than 7 days      21022
more than 30 days      1380
more than a year         81
Name: days_since_last_visit, dtype: int64

In [31]:
df.days_since_last_visit = df.days_since_last_visit.fillna('unknown')

Label missing values as unknown

### Check numeric value anomalies

In [37]:
df.loc[df.year_home_built < 1900, :]

,visit_id,date_time,experience,success,zipcode,pro,repeat_visit,days_since_last_visit,new_movers,year_home_built,home_market_value,length_of_residence,net_worth,income,mkt_organic_product_purchasers_value,mkt_trend_env_focused_hh_value,high_end_shoppers_value,do_it_yourselfer_value,montrd_home_security_sys_own_value,mkt_green_product_purchasers_value
289868,115337,6/20/19 18:53,version1,0,85147,0,0,unknown,0,0.0,172.0,4.0,12500.0,50000.0,36.0,46.0,51.0,55.0,24.0,33.0

In [38]:
df = df.loc[df.year_home_built > 1900, :]

In [40]:
df.loc[df.zipcode.apply(lambda x: len(x) < 5 ), :]

,visit_id,date_time,experience,success,zipcode,pro,repeat_visit,days_since_last_visit,new_movers,year_home_built,home_market_value,length_of_residence,net_worth,income,mkt_organic_product_purchasers_value,mkt_trend_env_focused_hh_value,high_end_shoppers_value,do_it_yourselfer_value,montrd_home_security_sys_own_value,mkt_green_product_purchasers_value
9,108770,5/31/19 10:38,version2,0,1886,0,0,unknown,0,1979.0,497.0,13.0,500000.0,150000.0,32.0,13.0,20.0,46.0,38.0,51.0
23,244107,5/31/19 10:39,version2,0,2109,0,0,unknown,0,1964.0,364.0,8.0,250000.0,125000.0,33.0,25.0,25.0,43.0,40.0,46.0
51,416268,5/31/19 10:43,version2,0,4609,0,0,unknown,0,1988.0,326.0,18.0,250000.0,100000.0,40.0,21.0,29.0,45.0,48.0,39.0
53,477568,5/31/19 10:43,version2,0,1757,0,0,unknown,0,1978.0,389.0,13.0,250000.0,150000.0,50.0,28.0,29.0,38.0,34.0,61.0
57,378251,5/31/19 10:43,version1,0,6450,0,0,unknown,0,1965.0,275.0,13.0,250000.0,100000.0,36.0,30.0,31.0,33.0,34.0,59.0
61,115864,5/31/19 10:44,version1,0,7748,0,0,unknown,1,1963.0,471.0,13.0,500000.0,125000.0,46.0,32.0,30.0,45.0,24.0,52.0
74,16777,5/31/19 10:46,version2,0,926,0,1,first visit,0,1984.0,304.0,8.0,250000.0,75000.0,33.0,29.0,32.0,46.0,30.0,46.0
106,397666,5/31/19 10:49,version2,0,7840,0,0,unknown,0,1980.0,413.0,13.0,500000.0,125000.0,46.0,32.0,36.0,41.0,31.0,58.0
131,351980,5/31/19 10:51,version2,1,8854,1,0,unknown,0,1971.0,413.0,13.0,500000.0,125000.0,32.0,32.0,25.0,50.0,31.0,53.0
133,442502,5/31/19 10:52,version2,1,1970,0,1,less than 1 day,0,1953.0,368.0,13.0,250000.0,100000.0,28.0,22.0,25.0,44.0,45.0,43.0
158,83642,5/31/19 10:54,version1,0,2066,1,0,unknown,0,1962.0,601.0,8.0,750000.0,175000.0,45.0,21.0,17.0,58.0,32.0,49.0
179,194313,5/31/19 10:57,version1,0,7205,0,1,first visit,1,1958.0,293.0,13.0,250000.0,75000.0,19.0,17.0,28.0,54.0,24.0,55.0
183,236175,5/31/19 10:58,version1,0,8053,0,0,unknown,0,1979.0,349.0,13.0,500000.0,125000.0,44.0,30.0,22.0,50.0,25.0,61.0
186,55229,5/31/19 10:58,version1,1,8812,0,1,less than 7 days,0,1971.0,494.0,13.0,500000.0,150000.0,32.0,28.0,20.0,56.0,28.0,62.0
207,101631,5/31/19 11:01,version2,1,3038,0,0,unknown,0,1980.0,304.0,13.0,250000.0,125000.0,43.0,27.0,43.0,27.0,40.0,51.0
217,253216,5/31/19 11:03,version1,0,2135,0,0,unknown,1,1960.0,366.0,13.0,250000.0,100000.0,37.0,20.0,24.0,46.0,45.0,46.0
221,116774,5/31/19 11:04,version1,0,1453,0,0,unknown,0,1971.0,300.0,13.0,250000.0,100000.0,45.0,27.0,32.0,37.0,40.0,51.0
244,83195,5/31/19 11:07,version2,0,7444,0,0,unknown,1,1960.0,467.0,13.0,500000.0,125000.0,38.0,25.0,33.0,56.0,26.0,54.0
254,215445,5/31/19 11:09,version1,0,907,0,0,unknown,1,1978.0,278.0,13.0,250000.0,100000.0,33.0,29.0,22.0,47.0,32.0,46.0
256,200725,5/31/19 11:09,version2,0,2908,0,0,unknown,0,1956.0,244.0,13.0,150000.0,75000.0,29.0,25.0,24.0,44.0,42.0,46.0
270,8836,5/31/19 11:11,version1,0,7205,0,1,first visit,1,1958.0,293.0,13.0,250000.0,75000.0,19.0,17.0,28.0,54.0,24.0,55.0
309,331757,5/31/19 11:17,version2,0,6106,1,1,less than 7 days,0,1962.0,270.0,13.0,150000.0,75000.0,36.0,28.0,32.0,43.0,39.0,54.0
349,16003,5/31/19 11:20,version1,0,7052,0,0,unknown,1,1957.0,451.0,13.0,500000.0,125000.0,31.0,21.0,21.0,57.0,25.0,55.0
359,399,5/31/19 11:21,version1,0,7205,0,1,first visit,0,1958.0,293.0,13.0,250000.0,75000.0,19.0,17.0,28.0,54.0,24.0,55.0
396,17826,5/31/19 11:25,version1,0,7728,0,1,more than 7 days,1,1980.0,561.0,13.0,750000.0,175000.0,40.0,33.0,19.0,58.0,20.0,63.0
421,97207,5/31/19 11:28,version2,0,8753,0,1,less than 7 days,0,1976.0,353.0,13.0,250000.0,100000.0,48.0,28.0,34.0,42.0,26.0,52.0
462,201758,5/31/19 11:31,version2,0,6011,0,1,less than 7 days,0,1996.0,591.0,4.0,500000.0,250000.0,8.0,8.0,14.0,36.0,21.0,51.0
465,44776,5/31/19 11:32,version2,0,8844,0,0,unknown,0,1986.0,521.0,13.0,750000.0,175000.0,30.0,27.0,21.0,54.0,28.0,62.0
466,458401,5/31/19 11:32,version2,0,6516,0,0,unknown,0,1958.0,242.0,13.0,150000.0,75000.0,47.0,33.0,23.0,35.0,31.0,61.0
476,212734,5/31/19 11:33,version1,0,2909,0,0,unknown,1,1964.0,240.0,8.0,150000.0,75000.0,28.0,20.0,21.0,54.0,47.0,44.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
513378,481742,6/30/19 23:15,version1,0,7014,0,1,less than 1 day,1,1976.0,360.0,8.0,150000.0,100000.0,56.0,30.0,23.0,48.0,33.0,55.0
513393,282588,6/30/19 23:16,version1,0,7014,0,1,less than 1 day,0,1976.0,360.0,8.0,150000.0,100000.0,56.0,30.0,23.0,48.0,33.0,55.0
513409,336301,6/30/19 23:17,version2,0,7014,0,1,unknown,1,1976.0,360.0,8.0,150000.0,100000.0,56.0,30.0,23.0,48.0,33.0,55.0
513417,478289,6/30/19 23:17,version2,0,7006,1,1,less than 1 day,0,1955.0,562.0,13.0,750000.0,175000.0,39.0,21.0,19.0,62.0,22.0,61.0
513446,131386,6/30/19 23:20,version1,0,7039,0,0,unknown,1,1969.0,244.0,8.0,150000.0,75000.0,46.0,38.0,40.0,34.0,37.0,49.0
513490,499829,6/30/19 23:23,version1,0,1890,1,0,unknown,0,1959.0,510.0,13.0,750000.0,125000.0,41.0,15.0,23.0,53.0,38.0,43.0
513510,391189,6/30/19 23:25,version1,0,7762,1,1,unknown,1,1965.0,539.0,13.0,750000.0,125000.0,40.0,19.0,17.0,57.0,24.0,41.0
513524,37886,6/30/19 23:27,version1,0,7014,0,1,less than 1 day,0,1976.0,360.0,8.0,150000.0,100000.0,56.0,30.0,23.0,48.0,33.0,55.0
513525,51241,6/30/19 23:27,version1,0,8619,0,1,less than 7 days,1,1970.0,322.0,13.0,250000.0,125000.0,36.0,35.0,40.0,41.0,22.0,53.0
513544,101897,6/30/19 23:29,version1,0,2920,0,1,less than 1 day,1,1970.0,261.0,13.0,250000.0,100000.0,33.0,38.0,23.0,41.0,32.0,59.0
513570,103990,6/30/19 23:31,version1,0,7065,0,0,unknown,0,1958.0,383.0,13.0,250000.0,125000.0,37.0,21.0,25.0,49.0,31.0,59.0
513590,467344,6/30/19 23:33,version2,0,7014,0,1,less than 1 day,0,1976.0,360.0,8.0,150000.0,100000.0,56.0,30.0,23.0,48.0,33.0,55.0
513598,205385,6/30/19 23:33,version2,0,6268,1,1,less than 7 days,0,1977.0,287.0,18.0,250000.0,100000.0,42.0,29.0,39.0,31.0,37.0,47.0
513611,351623,6/30/19 23:34,version2,0,7014,0,1,less than 1 day,0,1976.0,360.0,8.0,150000.0,100000.0,56.0,30.0,23.0,48.0,33.0,55.0
513634,454225,6/30/19 23:35,version1,0,8723,1,0,unknown,1,1973.0,369.0,13.0,250000.0,100000.0,47.0,24.0,24.0,37.0,23.0,54.0
513650,320911,6/30/19 23:37,version2,0,7054,0,0,unknown,0,1966.0,483.0,13.0,500000.0,125000.0,35.0,31.0,24.0,53.0,31.0,51.0
513655,450931,6/30/19 23:38,version1,0,1610,0,1,more than 7 days,1,1957.0,226.0,13.0,150000.0,75000.0,54.0,35.0,37.0,37.0,40.0,60.0
513665,39608,6/30/19 23:39,version1,0,7014,1,1,less than 1 day,0,1976.0,360.0,8.0,150000.0,100000.0,56.0,30.0,23.0,48.0,33.0,55.0
513716,291990,6/30/19 23:44,version2,0,7014,1,1,less than 1 day,1,1976.0,360.0,8.0,150000.0,100000.0,56.0,30.0,23.0,48.0,33.0,55.0
513735,212784,6/30/19 23:46,version2,0,7508,1,0,unknown,0,1959.0,443.0,13.0,500000.0,125000.0,45.0,31.0,21.0,57.0,26.0,57.0
513751,252836,6/30/19 23:48,version2,0,7728,0,1,unknown,0,1980.0,561.0,13.0,750000.0,175000.0,40.0,33.0,19.0,58.0,20.0,63.0
513755,18122,6/30/19 23:48,version1,0,2062,0,1,less than 1 day,1,1956.0,444.0,13.0,500000.0,125000.0,38.0,21.0,25.0,48.0,35.0,52.0
513801,431126,6/30/19 23:53,version2,0,7014,0,0,unknown,0,1976.0,360.0,8.0,150000.0,100000.0,56.0,30.0,23.0,48.0,33.0,55.0
513803,234923,6/30/19 23:53,version1,0,7036,0,1,less than 7 days,0,1956.0,341.0,13.0,250000.0,100000.0,32.0,31.0,27.0,44.0,34.0,61.0
513815,367743,6/30/19 23:54,version2,0,2114,0,1,first visit,0,1960.0,292.0,13.0,150000.0,75000.0,40.0,29.0,29.0,36.0,42.0,51.0
513816,185756,6/30/19 23:54,version2,0,7014,1,1,less than 1 day,0,1976.0,360.0,8.0,150000.0,100000.0,56.0,30.0,23.0,48.0,33.0,55.0
513828,363669,6/30/19 23:56,version1,0,7094,0,1,less than 1 day,0,1972.0,376.0,13.0,250000.0,100000.0,38.0,28.0,25.0,58.0,33.0,53.0
513843,410494,6/30/19 23:57,version2,0,7014,0,1,less than 1 day,1,1976.0,360.0,8.0,150000.0,100000.0,56.0,30.0,23.0,48.0,33.0,55.0
513847,336302,6/30/19 23:57,version2,0,7014,0,1,unknown,0,1976.0,360.0,8.0,150000.0,100000.0,56.0,30.0,23.0,48.0,33.0,55.0
513855,108807,6/30/19 23:58,version1,0,7205,0,1,first visit,0,1958.0,293.0,13.0,250000.0,75000.0,19.0,17.0,28.0,54.0,24.0,55.0

Zipcode missing one digit, possiblily some leading 0 missing when data is stored.

# Evaluate two versions using MAB
## Simple MAB

Simple MAB with only visit_id, date_time, experience and success.

In [41]:
df_simple = df[['visit_id', 'date_time', 'experience', 'success']]

In [43]:
df_simple.tail()

        visit_id      date_time experience  success
513858    382921  6/30/19 23:59   version2        0
513859    186356  6/30/19 23:59   version1        0
513860    355431  6/30/19 23:59   version1        0
513861    480424  6/30/19 23:59   version1        0
513862    454425  6/30/19 23:59   version1        0

In [59]:
arm1 = df_simple.loc[df_simple.experience == 'version1', :]
arm2 = df_simple.loc[df_simple.experience == 'version2', :]

In [60]:
arm1.shape

(250443, 4)

In [61]:
arm2.shape

(251444, 4)

In [62]:
arm1 = arm1.sort_values('date_time').reset_index(drop=True)
arm2 = arm2.sort_values('date_time').reset_index(drop=True)

In [63]:
arm1.head()

   visit_id      date_time experience  success
0     14167  5/31/19 10:36   version1        0
1    195581  5/31/19 10:37   version1        0
2    278496  5/31/19 10:37   version1        0
3    246436  5/31/19 10:37   version1        0
4    449258  5/31/19 10:38   version1        0

In [64]:
arm2.head()

   visit_id      date_time experience  success
0    451142  5/31/19 10:37   version2        0
1    316757  5/31/19 10:37   version2        0
2    486252  5/31/19 10:37   version2        1
3    121996  5/31/19 10:37   version2        0
4    363058  5/31/19 10:37   version2        0